@charset "utf-8";

/* Modificações gerais */

*{
    padding: 0px;
    margin: 0px;
    font-family: "Comic Sans MS",Arial, Helvetica, sans-serif;
}

/* corpo */

body{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: #446280;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: 
        "main"
        "footer"
    ;
}

/* principal */

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container centro */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 600px;
    border-radius: 24px;
}

.linkButton {
    margin: 10px 0;
    width: 95%;
    height: 15%;
    text-decoration: none;
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 24px;
    padding: 5px 0;
    background-color: #ddd;
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "texto img"
    ;
    transition: all 0.3s ease;
}

.button:hover{
    cursor: pointer;
}

.button > .text {
    grid-area: texto;
    font-size: 2rem;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.button > .img{
    grid-area: img;
    height: 96%;
    display: flex;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

/* Logos */

#imgGitHub {
    background-image: url("../img/LogoGitHub.png");
}

#imgLinkedin {
    background-image: url("../img/LogoLinkedin.png");
}

#imgInstagram {
    background-image: url("../img/LogoInstagram.png");
}

#imgTwitter {
    background-image: url("../img/LogoTwitter.png");
}

/* Responsividade */

@media(max-width: 600px){
    .container{
        width: 95%;
    } 
}